<header>
  <app-cabecalho class="cabecalho"></app-cabecalho>
</header>
<main>
  <section class="sessao-principal">
    <h2 class="titulo">Agendamento dos Pacientes</h2>
      <div class="button-direcionamentoCadastrar">
        <button type="submit" routerLink="agendamentos/novo-agendamento">Cadastrar Agendamento</button>
      </div>
        <div class="campo-agendamento">

          <h2 class="titulo-tabela">Agendamentos</h2>

          <div class="tabela-bord">

              <div class="table-container">
                <p-table
                #dtListagemAgendamento
                dataKey="id"
                [value]="agendamentos"
                [tableStyle]="{ 'min-width': '50rem' }"
                [globalFilterFields]="[
                    'name',
                ]"
                editMode="row"
                >


                <ng-template pTemplate="header" let-agenda let-editing="editing" let-ri="rowIndex">
                    <tr>
                        <th>Data</th>
                        <th>Horas</th>
                        <th>Nome</th>
                        <th>Tratamento</th>
                        <th>Especialista</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th>Avaliação</th>
                        <th>Ações</th>
                    </tr>
                    <tr>
                      <th>
                        <p-columnFilter
                            type= Date
                            field="data"
                            placeholder="Search by data"
                            ariaLabel="Filter data" />
                      </th>
                    <th>
                          <p-columnFilter
                              type="text"
                              field="horas"
                              placeholder="Search by horas"
                              ariaLabel="Filter horas" />
                      </th>
                      <th>
                          <p-columnFilter
                              type="text"
                              field="nome"
                              placeholder="Search by nome"
                              ariaLabel="Filter Nome" />
                      </th>
                      <th>
                          <p-columnFilter
                              type="text"
                              field="tratamento"
                              placeholder="Search by tratamento"
                              ariaLabel="Filter tratamento" />
                      </th>

                      <th>
                        <p-columnFilter
                            type="text"
                            field="especialista"
                            placeholder="Search by especialista"
                            ariaLabel="Filter especialista" />
                    </th>

                      <th>
                        <p-columnFilter
                            type="value"
                            field="valor"
                            placeholder="Search by valor"
                            ariaLabel="Filter valor" />
                      </th>
                      <th>
                        <p-columnFilter
                            type="text"
                            field="status"
                            placeholder="Search by status"
                            ariaLabel="Filter status" />
                    </th>
                      <th></th>
                </tr>
                </ng-template>
                <ng-template pTemplate="body" let-agendamento  let-editing="editing" let-ri="rowIndex">

                    <tr [pEditableRow]="agendamento">
                        <td>{{ agendamento.data }}</td>
                        <td>{{ agendamento.hora }}</td>
                        <td>{{ agendamento.paciente.nome }}</td>
                        <td>{{ agendamento.tratamento.nome }}</td>
                        <td>{{ agendamento.especialista.nome}}</td>
                        <td>{{ agendamento.valor}}</td>
                        <td>{{ agendamento.status }}</td>
                        <td>
                          <p-cellEditor
                            >
                              <ng-template pTemplate="input">
                                <p-rating [(ngModel)]="agendamento.avaliacao" [readonly]="false" [required]="true" [cancel]="false"/>
                              </ng-template>
                              <ng-template pTemplate="output"

                              >
                                  <p-rating
                                  *ngIf="agendamento.status === 'Concluido'"
                                  [(ngModel)]="agendamento.avaliacao" [readonly]="true" [cancel]="false"/>
                              </ng-template>
                          </p-cellEditor>
                        </td>
                        <td>
                          <div class="flex align-items-center justify-content-center gap-2">

                            <button
                                *ngIf="!editing && agendamento.status !== 'Concluido'"
                                pInitEditableRow
                                (click)="onRowEditInit(agendamento)">
                                <fa-icon [icon]="faPen"></fa-icon>
                            </button>
                            <button
                                *ngIf="editing"
                                pSaveEditableRow
                                (click)="onRowEditSave(agendamento)">
                                <fa-icon [icon]="faCheck"></fa-icon>
                            </button>
                            <button
                                *ngIf="editing"
                                pCancelEditableRow
                                (click)="onRowEditCancel(agendamento)">
                                <fa-icon [icon]="faTimes"></fa-icon>
                            </button>
                          </div>
                        </td>
                        <th>

                          <button
                          (click)="cancelarCadastro(agendamento)"
                          >
                            <fa-icon [icon]="faTrash"></fa-icon>

                        </button>
                        <button
                        (click)="editarCadastro(agendamento)"
                        >
                        <fa-icon [icon]="faEdit"></fa-icon>
                        </button>


                    </tr>
                </ng-template>
            </p-table>

              </div>

          </div>
        </div>
  </section>
</main>

<footer>
  <app-rodape></app-rodape>
</footer>

