.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.cabecalho-lista{
  list-style-type: none;
  display: flex;
  gap: 2em;
}


.cabecalho-sair a{
padding: 0 0.8em;
}

.cabecalho-lista a, .cabecalho-sair a{
text-decoration: none;
color: #950341;
font-family: 'Public Sans';
font-weight: bold;

}

.cabecalho-lista a:hover, .cabecalho-sair a:hover{
text-decoration: underline;
}
