<header class="cabecalho">
  <img src="../../assets/logo-pequeno-bellavisage.png" alt="logo da bellavisage">
  <nav class="cabecalho-nav" [hidden]="!isLogged() || !barraNavegacao">
    <ul class="cabecalho-lista">
      <a href="#"><li>Início</li></a>
      <a href="/tratamento"> <li>Tratamentos</li></a>
      <a href="/especialista"> <li>Especialistas</li></a>
      <a href="/pagamentos"> <li>Pagamentos</li></a>
      <a href="/agendamento"> <li>Agendar</li></a>
      <a href="/dashbord/financeiro"><li>Dashboard</li></a>

    </ul>
  </nav>
  <div class="cabecalho-sair">
    <img src="../../../assets/logo-usuario.png">
    <a
      *ngIf="!isLogged()"
      href="/login">Entrar</a>
    <a
      *ngIf="isLogged()"
      href="/login">Sair</a>
  </div>
</header>
