.invalido {
  color: rgb(211, 22, 22);
  font-family: 'Public Sans';
  font-weight: bold;
  margin: 0 0 0.5em;
  font-size: 0.9em;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 6px;
  padding: 0.6em 1em;
}
