<header>
  <app-cabecalho class="cabecalho" barraNavegacao="visualizarBarraNav"></app-cabecalho>
</header>
<main>
  <section class="sessao-principal">
    <h2 class="titulo">Cadastro do paciente</h2>
    <h3 class="subtitulo">Cadastre o paciente inserindo os dados abaixo:</h3>
      <div class="paciente-imagem">
        <input type= "img" img [src]="paciente.imagem" id="img-paciente" width="40" height="40">
      </div>
        <section class="principal-formulario">

          <form class="campos">
            <br>
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Informe seu nome">

            <label for="cpf">CPF</label>
            <input type="cpf" class="form-control" id="cpf" placeholder="Insira seu CPF">

            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Insira seu endereço de email">

            <label for="telefone">Telefone</label>
            <input type="telefone" class="form-control" id="telefone" placeholder="(DDD) XXXXX-XXXX">

            <label for="imagem">Insira o URL da imagem</label>
            <input type="imagem" class="form-control" id="imagem" placeholder="https://img.com/fotos/retrato-de-um-jovem">

            <label for="cep" >Endere&ccedil;o</label>

            <div class="input-group d-flex align-items-center ">
              <div class="input-group-prepend" style="margin-right: 0.5em;">
                <span class="input-group-text"><img src="../../../../assets/icone-localizacao.png"></span>
              </div>
              <input type="text" class="form-control" placeholder="Insira o CEP"  >
            </div>

            <div class="row">
              <div class="col">
                <input type="text" class="form-control"  placeholder="Rua">
              </div>
              <div class="col">
                <input type="text" class="form-control"  placeholder="Número">
              </div>
            </div>

            <input type="text" class="form-control"  placeholder="Complemento">

            <div class="row">
              <div class="col">
                <input type="text" class="form-control"  placeholder="Cidade">
              </div>
              <div class="col">
                <input type="text" class="form-control"  placeholder="Estado">
              </div>
            </div>
          <button type="submit">Cadastrar</button>
          </form>
        </section>
      </section>
</main>

<footer>
  <app-rodape></app-rodape>
</footer>
