.footer-home-main
{

  background-color: #950341;
  color: #FFFFFF;
  text-align: left;
  padding: 3em;
  margin-top: 2em;
  font-family: 'Sansation Light';
  font-weight: italic;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 122em;
}
.conteiner-footer-home
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-home-icones
{
  display: flex;
  gap: 1em;
  margin: 0.5em;
  justify-content: center;
  padding: 1em;
}
.footer-home-mapasite
{
  gap: 1em;
  margin: 0.5em;
  justify-content: center;
  padding: 1em;
  text-decoration: none;
  outline: none;

}

.footer-home-faleconosco
{
  font-size: 0.5em;
  padding: 1em;
  margin-top: 2em;

}
