
<main class="footer-home-main">
 <div class="conteiner-footer-home">
      <div>
          <img src="../../../../assets/logo-pequeno-2-bellavisage.png" alt="logo da bellavisage">
      </div>
      <div>
            <h5> Mapa do Site:</h5>
            <div class="footer-home-mapasite">
                <h6><a href="#">Home</a></h6>
                <h6><a href="#">Tratamentos</a></h6>
                <h6><a href="#">Especialistas</a></h6>
            </div>

      </div>
      <div>
            <h5> Fale conosco:</h5>
            <div class="footer-home-faleconosco">
              <h6>Email:bellavisagebellavisage.com</h6>
            <h6>Telefone: (11) 99999-9999</h6>
            </div>

      </div>
      <div>
        <h5> Acompanhe nossas redes sociais:</h5>
            <div class="footer-home-icones">

              <a href="#"><img src="../../assets/icone-facebook.png"></a>
              <a href="#"><img src="../../assets/icone-whatsapp.png"></a>
              <a href="#"><img src="../../assets/icone-google.png"></a>
              <a href="#"><img src="../../assets/icone-instagram.png"></a>
            </div>

      </div>
  </div>
</main>
