
<main class="footer-home-main">
 <div class="conteiner-footer-home">
      <div>
          <img src="../../../../assets/logo-pequeno-2-bellavisage.png" alt="logo da bellavisage">
      </div>
      <div>
            <h5> Mapa do Site:</h5>
            <div class="footer-home-mapasite">
              <ul class="left">
                <li><h6>Home</h6></li>
                <li><h6>Pacientes</h6></li>
                <li><h6>Especialistas</h6></li>
                <li><h6>Tratamentos</h6></li>
              </ul>
              <ul class="right">
                <li><h6>Horários</h6></li>
                <li><h6>Agendamentos</h6></li>
                <li><h6>Pagamentos</h6></li>
                <li><h6>Dashboard</h6></li>
              </ul>

            </div>
      </div>
      <div>
            <h5> Fale conosco:</h5>
            <div class="footer-home-faleconosco">
              <h6>Email: bellavisage&#64;gmail.com</h6>
            <h6>Telefone: (11) 99999-9999</h6>
            </div>

      </div>
      <div>
        <h5> Acompanhe nossas redes sociais:</h5>
            <div class="footer-home-icones">

              <a href="#"><img src="../../assets/icone-facebook.png"></a>
              <a href="#"><img src="../../assets/icone-whatsapp.png"></a>
              <a href="#"><img src="../../assets/icone-google.png"></a>
              <a href="#"><img src="../../assets/icone-instagram.png"></a>
            </div>

      </div>
  </div>
</main>
