<header>
  <app-cabecalho ></app-cabecalho>
</header>
<main>
  <section class="sessao-principal">

    <h2 class="titulo">{{ titulo }}</h2>
    <h3 class="subtitulo">Insira os dados abaixo:</h3>
    <form class="principal-formulario" [formGroup]="formulario">
      <div class="campos">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Informe seu nome">

        <app-campo-control-erro [mostrarErro]="formulario.get('nome')?.touched && formulario.get('nome')?.invalid"
          msgErro="Nome é inválido!">
        </app-campo-control-erro>

        <label for="cpf">Cpf</label>
        <input type="text" class="form-control" formControlName="cpf" id="cpf" placeholder="Informe seu cpf">

        <app-campo-control-erro [mostrarErro]="formulario.get('cpf')?.touched && formulario.get('cpf')?.invalid"
          msgErro="Cpf invalido ou cpf já existe no sistema">
        </app-campo-control-erro>

        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Insira seu endere&ccedil;o de email">

        <app-campo-control-erro [mostrarErro]="formulario.get('email')?.touched &&
        formulario.get('email')?.invalid"
          msgErro="Email inválido!">
        </app-campo-control-erro>

        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" formControlName="telefone" id="telefone" placeholder="(DDD) XXXXX-XXXX">

        <app-campo-control-erro [mostrarErro]="formulario.get('telefone')?.touched && formulario.get('telefone')?.invalid"
          msgErro="Telefone inválido! Precisa ter 11 caracteres e ser números.">
        </app-campo-control-erro>

        <div formGroupName="endereco">
          <label for="cep" >Endere&ccedil;o</label>

          <div class="row">
            <div class="col-1 d-flex align-items-center pe-0">
              <button class="btn btn-primary" (click)="onBuscaCep()"><i class="bi bi-search"></i></button>
            </div>
            <div class="col-5 ps-0">
              <input type="text" class="form-control" formControlName="cep" placeholder="Insira o CEP">
            </div>
            <div class="col-6">
              <input type="text" class="form-control"  formControlName="logradouro" placeholder="Logradouro">
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <app-campo-control-erro [mostrarErro]="formulario.get('endereco.cep')?.touched && formulario.get('endereco.cep')?.invalid"
                msgErro="Cep inválido! Precisa ter 8 caracteres e ser números.">
              </app-campo-control-erro>
            </div>
            <div class="col-6">
              <app-campo-control-erro [mostrarErro]="formulario.get('endereco.logradouro')?.touched && formulario.get('endereco.logradouro')?.invalid"
                msgErro="Logradouro é obrigatório.">
              </app-campo-control-erro>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <input type="text" class="form-control"  formControlName="bairro" placeholder="Bairro">
            </div>
            <div class="col">
              <input type="text" class="form-control"  formControlName="numero" placeholder="Número">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <app-campo-control-erro [mostrarErro]="formulario.get('endereco.bairro')?.touched && formulario.get('endereco.bairro')?.invalid"
                msgErro="Bairro é obrigatório.">
              </app-campo-control-erro>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <app-campo-control-erro [mostrarErro]="formulario.get('endereco.rua')?.touched && formulario.get('endereco.rua')?.invalid"
              msgErro="Rua é obrigatória.">
              </app-campo-control-erro>
            </div>
            <div class="col">
              <app-campo-control-erro [mostrarErro]="formulario.get('endereco.numero')?.touched && formulario.get('endereco.numero')?.invalid"
              msgErro="Somente é permitido números.">
              </app-campo-control-erro>
            </div>
          </div>

          <input type="text" class="form-control"  formControlName="complemento" placeholder="Complemento">

          <div class="row">
            <div class="col">
              <input type="text" class="form-control"  formControlName="cidade" placeholder="Cidade">
            </div>
            <div class="col">
              <select class="form-control" id="opcoes" formControlName="estado">
                  <option value="" disabled selected hidden>Selecione um estado</option>
                  <option *ngFor="let estado of estados" [value]="estado.nome">{{ estado.nome }}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <app-campo-control-erro [mostrarErro]="formulario.get('endereco.cidade')?.touched && formulario.get('endereco.cidade')?.invalid"
              msgErro="Cidade é obrigatória.">
              </app-campo-control-erro>
            </div>
            <div class="col">
              <app-campo-control-erro [mostrarErro]="formulario.get('endereco.estado')?.touched && formulario.get('endereco.estado')?.invalid"
              msgErro="Estado é obrigatório.">
              </app-campo-control-erro>
            </div>
          </div>
        </div>
      </div>

      <div class="botoes">
        <button type="submit" class="botao-submit" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="botao-submit" (click)="onSubmit()">{{ nomeBotao }}</button>
      </div>
    </form>

  </section>
</main>
<footer>
  <app-rodape></app-rodape>
</footer>


