<main class="principal">
  <aside>
    <img src="../../../../assets/fundo-esq-bellavisage.png" alt="fundo bellavisage">
  </aside>
  <section class="principal-login">
    <img src="../../../../assets/logo-pequeno-2-bellavisage.png">
    <h1 class="principal-titulo">Fa&ccedil;a login em sua conta</h1>
    <form class="principal-formulario" [formGroup]="formulario">
      <div class="campos">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Insira seu endere&ccedil;o de email">
        <app-campo-control-erro-teste *ngIf="formulario.get('email')?.invalid && formulario.get('email').touched" [msgErro]="formUtilService.getMensagemErro(formulario, 'email')"></app-campo-control-erro-teste>

        <label for="senha" >Senha</label>
        <input type="password" class="form-control" formControlName="senha" id="senha" placeholder="Insira sua senha">
        <app-campo-control-erro-teste *ngIf="formulario.get('senha')?.invalid && formulario.get('senha').touched" [msgErro]="formUtilService.getMensagemErro(formulario, 'senha')"></app-campo-control-erro-teste>
      </div>

      <div class="redirecionamentos">
        <p-toast position="top-left" key="toast-error" />
        <p-toast position="top-right" key="toast-sucess" />
        <button type="submit" (click)="onSubmit()">Entrar</button>
        <a routerLink="/login/alterar-senha">Esqueceu sua senha?</a>
        <span>Ainda não tem conta? <a routerLink="/login/novo-usuario">Fa&ccedil;a seu cadastro!</a></span>
      </div>
    </form>
  </section>
  <aside>
    <img src="../../../../assets/fundo-dir-bellavisage.png" alt="fundo bellavisage">
  </aside>
</main>
