<header>
  <app-cabecalho class="cabecalho"></app-cabecalho>
</header>
<main>
  <section class="sessao-principal">
    <h2 class="titulo">{{ titulo }}</h2>
    <div class="campo-paciente">
      <h3 class="subtitulo">Insira os dados abaixo:</h3>

      <section  class="principal-formulario">
          <form class="campos" [formGroup]="formulario">
          <div class="dados-nomes-agendamento">
                  <div>
                    <label for="paciente">Pacientes</label>
                    <div class="input-group d-flex align-items-center ">
                      <div class="input-group-prepend" style="margin-right: 0.1em;">
                        <span class="input-group-text"><img src="../../../../assets/icone-usuariocinza.png"></span>
                      </div>

                      <select class="form-control" id="paciente" formControlName="paciente" >
                        <option *ngFor="let paciente of pacientes" [value]="paciente.id" >{{ paciente.nome }}</option>
                    </select>
                    <app-campo-control-erro-teste *ngIf="formulario.get('paciente')?.invalid && formulario.get('paciente').touched" [msgErro]="formUtilService.getMensagemErro(formulario, 'paciente')"></app-campo-control-erro-teste>
                    </div>
                </div>

                  <div class="tratamento">
                    <label for="tratamento">Tratamento</label>
                    <div class="input-group d-flex align-items-center ">
                      <div class="input-group-prepend" style="margin-right: 0.1em;">
                        <span class="input-group-text"><img src="../../../../assets/icone-usuariocinza.png"></span>
                      </div>
                      <select class="form-control" id="tratamento" formControlName="tratamento">
                        <option *ngFor="let tratamento of tratamentos" [value]="tratamento.id">{{ tratamento.nome }}</option>
                      </select>
                      <app-campo-control-erro-teste *ngIf="formulario.get('tratamento')?.invalid && formulario.get('tratamento').touched" [msgErro]="formUtilService.getMensagemErro(formulario, 'tratamento')"></app-campo-control-erro-teste>
                    </div>
                  </div>

                  <div>
                    <label for="especialista">Especialista</label>
                    <div class="input-group d-flex align-items-center ">
                      <div class="input-group-prepend" style="margin-right: 0.1em;">
                        <span class="input-group-text"><img src="../../../../assets/icone-usuariocinza.png"></span>
                      </div>
                      <select class="form-control" id="especialista" formControlName="especialista" >
                        <option *ngFor="let especialista of especialistas" [value]="especialista.id">{{ especialista.nome }}</option>
                      </select>
                      <app-campo-control-erro-teste *ngIf="formulario.get('especialista')?.invalid && formulario.get('especialista').touched" [msgErro]="formUtilService.getMensagemErro(formulario, 'especialista')"></app-campo-control-erro-teste>
                    </div>
                  </div>
          </div>
        <div class="dados-data-horario-agendamento">

          <div>
            <label for="calendar-24h">Data</label>
            <div class="form-control">
              <p-calendar
              inputId="calendar-24h"
              formControlName="dataHorario"
              [showTime]="true"
              [hourFormat]="'24'"
              selectionMode="single" />
              <app-campo-control-erro-teste *ngIf="formulario.get('dataHorario')?.invalid && formulario.get('dataHorario').touched" [msgErro]="formUtilService.getMensagemErro(formulario, 'dataHorario')"></app-campo-control-erro-teste>
            </div>

          </div>
          <div>
            <label for="nome">Valor</label>
            <input type="text" class="form-control"  formControlName="valor" placeholder="R$" readonly>
            <app-campo-control-erro-teste *ngIf="formulario.get('valor')?.invalid && formulario.get('valor').touched" [msgErro]="formUtilService.getMensagemErro(formulario, 'valor')"></app-campo-control-erro-teste>
          </div>

        </div>
        <div class="botoes">
          <p-toast position="top-left" key="toast-error" />
          <p-toast position="top-right" key="toast-sucess" />
          <button type="submit"  (click)="(formUtilService.voltarPagina())">Cancelar</button>
          <button type="submit" (click)="onSubmit()">{{ nomeBotao }}</button>
        </div>
        </form>
      </section>
    </div>
  </section>
</main>

<footer>
  <app-rodape></app-rodape>
</footer>

