<header>
  <app-cabecalho class="cabecalho"></app-cabecalho>
</header>
<main>
  <section class="sessao-principal">
    <h2 class="titulo">{{ titulo }}</h2>
        <div class="campo-paciente">
          <h3 class="subtitulo">Agende o paciente inserindo os dados abaixo:</h3>

          <section  class="principal-formulario">
             <form class="campos" [formGroup]="formulario" (ngSubmit)="onSubmit()">
              <div class="dados-nomes-agendamento">
                      <div>
                        <label for="paciente">Pacientes</label>
                        <div class="input-group d-flex align-items-center ">
                          <div class="input-group-prepend" style="margin-right: 0.1em;">
                            <span class="input-group-text"><img src="../../../../assets/icone-usuariocinza.png"></span>
                          </div>

                          <select class="form-control" id="paciente" formControlName="paciente" >
                            <option *ngFor="let paciente of pacientes" [value]="paciente.id">{{ paciente.nome }}</option>
                        </select>

                        <app-campo-control-erro [mostrarErro]="formulario.get('paciente')?.touched && formulario.get('paciente')?.invalid"
                          msgErro="Paciente é obrigatório!">
                        </app-campo-control-erro>
                        </div>
                    </div>

                      <div>
                        <label for="tratamento">Tratamento</label>
                        <div class="input-group d-flex align-items-center ">
                          <div class="input-group-prepend" style="margin-right: 0.1em;">
                            <span class="input-group-text"><img src="../../../../assets/icone-usuariocinza.png"></span>
                          </div>
                          <select class="form-control" id="tratamento" formControlName="tratamento" >
                            <option *ngFor="let tratamento of tratamentos" [value]="tratamento.id">{{ tratamento.nome }}</option>
                          </select>

                          <app-campo-control-erro [mostrarErro]="formulario.get('tratamento')?.touched && formulario.get('tratamento')?.invalid"
                          msgErro="Tratamento é obrigatório!">
                          </app-campo-control-erro>
                        </div>
                      </div>

                      <div>
                        <label for="especialista">Especialista</label>
                        <div class="input-group d-flex align-items-center ">
                          <div class="input-group-prepend" style="margin-right: 0.1em;">
                            <span class="input-group-text"><img src="../../../../assets/icone-usuariocinza.png"></span>
                          </div>
                          <select class="form-control" id="especialista" formControlName="especialista" >
                            <option *ngFor="let especialista of especialistas" [value]="especialista.id">{{ especialista.nome }}</option>
                          </select>

                          <app-campo-control-erro [mostrarErro]="formulario.get('especialista')?.touched && formulario.get('especialista')?.invalid"
                          msgErro="Especialista é obrigatório!">
                          </app-campo-control-erro>
                        </div>
                      </div>
              </div>
            <div class="dados-data-horario-agendamento">
                    <div class="row">
                    <div class="col">
                      <label for="nome">Data</label>
                      <div  class="form-control">
                              <p-calendar formControlName="data" />
                              <app-campo-control-erro [mostrarErro]="formulario.get('data')?.touched && formulario.get('data')?.invalid"
                                msgErro="Data é obrigatória!">
                              </app-campo-control-erro>
                        </div>

                    </div>
                    <div class="col">
                      <label for="nome">Horário</label>
                         <div class="form-control">
                            <p-calendar
                            formControlName="hora"
                            [iconDisplay]="'input'"
                            [showIcon]="true"
                            [timeOnly]="true"
                            inputId="templatedisplay">
                            </p-calendar>

                            <app-campo-control-erro [mostrarErro]="formulario.get('hora')?.touched && formulario.get('hora')?.invalid"
                              msgErro="Horário é obrigatório!">
                            </app-campo-control-erro>
                         </div>

                    </div>
                    <div class="col">
                      <label for="nome">Valor</label>
                      <input type="text" class="form-control"  formControlName="valor" placeholder="R$">

                      <app-campo-control-erro [mostrarErro]="formulario.get('valor')?.touched && formulario.get('valor')?.invalid"
                        msgErro="Valor é obrigatório!">
                      </app-campo-control-erro>
                    </div>
            </div>


            </div>
            <button type="submit" [disabled]="formulario.invalid" >{{ nomeBotao }}</button>
            </form>

          </section>

        </div>

  </section>

</main>

<footer>
  <app-rodape></app-rodape>
</footer>

