<main class="principal">
  <aside>
    <img src="../../assets/fundo-esq-bellavisage.png" alt="fundo bellavisage">
  </aside>
  <section class="principal-login">
    <img src="../../assets/logo-pequeno-2-bellavisage.png">
    <h1 class="principal-titulo">Fa&ccedil;a login em sua conta</h1>
    <form class="principal-formulario">

      <div class="campos">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Insira seu endere&ccedil;o de email">

          <label for="password" >Senha</label>
          <input type="password" class="form-control" id="password" placeholder="Insira sua senha">

      </div>

      <div class="redirecionamentos">
        <button type="submit">Entrar</button>
        <a href="#">Esqueceu sua senha?</a>
        <span>Ainda não tem conta? <a href="#" style="color: #F5066C; font-weight: bold;">Fa&ccedil;a seu cadastro!</a></span>
      </div>
    </form>
  </section>
  <aside>
    <img src="../../assets/fundo-dir-bellavisage.png" alt="fundo bellavisage">
  </aside>
</main>
