header,main{
  margin: 0 10%;
}

.sessao-principal{
  background-color: #E7EBEF;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2em;
  margin: 1em 0;
  text-align: center;
}

.sessao-principal .titulo {
  color: #339CFF;
  font-family: 'Public Sans';
  font-weight: bold;
  text-transform: uppercase;
  font-size: x-large;

}

.principal-formulario{
  margin: 0 10em;
}

.sessao-principal .subtitulo {
  color: #950341;
  font-family: 'Public Sans';
  font-weight: bold;
  text-transform: uppercase;
  font-size: medium;
  padding-top: 2em;

}

.principal-formulario .campos{
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;

}

.principal-formulario label{
  font-family: 'Public Sans';
  color: #950341;
  font-weight: bold;
}

.principal-formulario input, select {
  padding: 0.6em 1em;
  margin: 0.7em 0;
  background-color: #F8F8F8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.principal-formulario input::placeholder, select, option{
  color: #6B6E71;
}

.principal-formulario button{
  background-color: #950341;
  color: #FFFFFF;
  font-family: 'Public Sans';
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 0.7em 7em;
}
