<main class="principal">
  <aside>
    <img src="../../../../assets/fundo-esq-bellavisage.png" alt="fundo bellavisage">
  </aside>
  <section class="principal-login">
    <img src="../../../../assets/logo-pequeno-bellavisage-m.png">
    <h1 class="principal-titulo">Edite sua senha</h1>
    <form class="principal-formulario">
      <div class="campos">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Insira o endere&ccedil;o de email para login">

        <label for="senha" >Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Digite sua senha">

        <label for="rep-senha" >Repita a senha</label>
        <input type="password" class="form-control" id="rep-senha" placeholder="Repita a senha anterior">
      </div>
      <div class="redirecionamentos">
        <button type="submit">Entrar</button>
      </div>
    </form>
  </section>
  <aside>
    <img src="../../../../assets/fundo-dir-bellavisage.png" alt="fundo bellavisage">
  </aside>
</main>
