<header>
  <app-cabecalho></app-cabecalho></header>
<main>
  <section class="sessao-principal">
    <h2 class="titulo">Area Administrativa</h2>
    <h3 class="subtitulo">Cadastro de Tratamento</h3>
        <section class="principal-formulario">
          <form class="campos">
            <br>
            <label for="nome">Nome do Tratamento</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite o nome do tratamento">

            <label for="descricao-tratamento">Descrição do Tratamento</label>
            <input type="text" class="form-control" id="descricao-tratamento" placeholder="Digite a descrição do tratamento">

            <label for="valor">Digite o valor do Tratamento (em reais)</label>
            <input type="valor" class="form-control" id="valor-tratamento" placeholder="Informe o valor do tratamento (R$)">

            <label for="imagem">Insira o URL da imagem</label>
            <input type="imagem" class="form-control" id="imagem" placeholder="https://img.com/fotos/retrato-limpeza-de-pele">

            <button type="submit">Cadastrar</button>
          </form>
        </section>
    </section>
</main>


<footer>
  <app-rodape></app-rodape>
</footer>
