<header class="cabecalho">
  <img src="../../../../assets/logo-pequeno-bellavisage.png" alt="logo da bellavisage">
  <div class="cabecalho-sair">
    <img src="../../../assets/logo-usuario.png">
    <a href="#">Sair</a>
  </div>
</header>

<main>
  <img src="../../../../assets/logo-fundo-bellavisage.png" width="100%">

  <div class="card-container">
      <div class="card" *ngFor="let nome of nomeCards">
          <img *ngIf="nome == 'Faturamento'" src="../../../../assets/icone-faturamento.png" style="padding-bottom: 0.2em;" height="83px" width="98px" alt="Imagem do Card">
          <img *ngIf="nome == 'Avalie o serviço'" src="../../../../assets/icone-servico.png" style="padding-bottom: 0.2em;" height="54px" width="60px" alt="Imagem do Card">
          <img *ngIf="nome != 'Faturamento' && nome != 'Avalie o serviço'" src="../../../../assets/icone-gerenciar.png"  height="62px" width="52px" alt="Imagem do Card">
          <div class="card-conteudo">
              <a>{{ nome }}</a>
          </div>
      </div>
  </div>

</main>

<app-rodape></app-rodape>

