  <header>
    <app-cabecalho [verBarraNavegacao]="false" [verLinkEntrar]="true" [verLinkSair]="false"></app-cabecalho>
  </header>
  <main>
    <section class="sessao-principal">
      <app-banner></app-banner>

      <div *ngIf="tratamentos?.length > 0">
        <div class="barra-vermelha">
          <h2 class="titulo-barra">Planos Estéticos Imperdíveis!</h2>
        </div>

        <div class="titulo-tratamento">
          <h2 class="titulo-conteiner-card"> Conheça os nossos <br> Tratamentos</h2>
        </div>

        <div class="conteiner-card">
          <app-card
          *ngFor="let tratamento of tratamentos"
          [imagem] = "getImageUrl(tratamento.imagem, tratamento.tipoImagem)"
          [header] = "tratamento.nome"
          [descricao]="tratamento.descricao"
          [valor]="tratamento.valor"
          ></app-card>
        </div>
      </div>

    </section>
  </main>
  <footer>
    <app-rodape-home></app-rodape-home>
  </footer>

