.header .main{
  height: 100vh;
  width: 122em;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;


}

.imagem_mulher{
  max-width: 100%;
}

.barra-vermelha{
  background-color: #950341;
  height: 5rem;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5em;
  text-align: center;

}
.titulo-barra{
  color: #FFFFFF;
  font-family: 'Sansation Light';
  font-weight:italic;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  margin: 20px 5px 30px 20px;
}
.titulo-conteiner-card{
  color:#950341;
  font-family: 'Sansation Light';
  font-weight: italic;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  margin: 70px 5px 30px 20px;

}
.titulo-tratamento{
  padding: auto;

 }
.conteiner-card
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 2em;
  width: 122em;
}
.conteiner-header{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  width: 122em;
}
.conteiner-header-entrar
{
  display: flex;
  padding: 1em;

}

.cabecalho{
  width: 122em;
}
