<header>
  <app-cabecalho ></app-cabecalho>
</header>
<main>
  <section class="sessao-principal">

    <h2 class="titulo">{{ titulo }}</h2>
    <h3 class="subtitulo">Insira os dados abaixo:</h3>
    <form class="principal-formulario" [formGroup]="formulario">
      <div class="campos">

        <label for="tratamento">Tratamento</label>
        <select class="form-control" id="tratamento" formControlName="tratamento">
          <option *ngFor="let tratamento of tratamentos" [value]="tratamento.id">{{ tratamento.nome }}</option>
        </select>
        <app-campo-control-erro-teste *ngIf="formulario.get('tratamento')?.invalid && formulario.get('tratamento').touched" [msgErro]="formUtilService.getMensagemErro(formulario, 'tratamento')"></app-campo-control-erro-teste>

        <label for="especialista">Especialista</label>
        <select class="form-control" id="especialista" formControlName="especialista" >
          <option *ngFor="let especialista of especialistas" [value]="especialista.id">{{ especialista.nome }}</option>
        </select>
        <app-campo-control-erro-teste *ngIf="formulario.get('especialista')?.invalid && formulario.get('especialista').touched" [msgErro]="formUtilService.getMensagemErro(formulario, 'especialista')"></app-campo-control-erro-teste>

        <label for="data">Data</label>
        <p-calendar formControlName="data" class="calendario"/>
        <app-campo-control-erro-teste *ngIf="formulario.get('data')?.invalid && formulario.get('data').touched" [msgErro]="formUtilService.getMensagemErro(formulario,'data')"></app-campo-control-erro-teste>

        <div class="container-divisor">
          <button type="button">Carregar horários</button>


              <p-table class="tabela" [value]="horariosEspecialista" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-horariosEspecialista>
                    <tr>
                        <td>{{ horariosEspecialista | date: 'dd/MM/yyyy'}}</td>
                        <td>{{ horariosEspecialista | date: 'HH:mm'}}</td>
                        <td>
                        <button (click)="cancelarCadastro(horariosEspecialista)">
                          <fa-icon [icon]="faTrash"></fa-icon>
                       </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
      </div>

      <div>
        <button type="submit"  (click)="(formUtilService.voltarPagina())">Cancelar</button>
        <button (click)="onAddHorario()">
          <fa-icon [icon]="faPlus"></fa-icon>
          Adicionar
        </button>

      </div>
      <p-toast position="top-left" key="toast-error" />
      <p-toast position="top-right" key="toast-sucess" />
    </form>

  </section>
</main>
<footer>
  <app-rodape></app-rodape>
</footer>



