<header>
  <app-cabecalho class="cabecalho" barraNavegacao="visualizarBarraNav"></app-cabecalho>
</header>
<main>
  <section class="sessao-principal">
    <h2 class="titulo">Visão Geral de Vendas</h2>

     <div class="barras">
        <h3 class="subtitulo"> Faturamento mensal por procedimento</h3>
        <div>
            <p-dropdown
            [options]="listaTratamentosMensalPorProcedimento"
            optionLabel="name"
            [showClear]="true"
            placeholder="Tratamento"
            (onChange)="listaTratamentosMensalPorProcedimentoOnChange($event)"
            class="box-select-tratamento"
            />
            <div
              *ngIf="tratamentoSelecionadoMensalPorProcedimento"
              echarts
              [options]="getChartOption()"
              class="demo-chart">
            </div>


          </div>
              <div>
                <h3 class="subtitulo"> Pizza top 6 por mês</h3>
                 <div
                 *ngIf="faturamentopizza"
                 echarts
                 [options]="faturamentopizza"
                 class="demo-chart">
               </div>

          </div>

        </div>

     <div>
        <h3 class="subtitulo"> Faturamento</h3>

        <div class="tabela-bord">
          <div class="table-container">
            <p-table
            #dtListagemTotalFaturamentoTratamento
            dataKey="id"
            [value]="listaTotalFaturamentoTratamento"
            [tableStyle]="{ 'min-width': '50rem' }"
            [globalFilterFields]="[
                'name',
            ]"
            >

                <ng-template pTemplate="header">
                  <tr>
                      <th>Id</th>
                      <th>Mês</th>
                      <th>Tratamento</th>
                      <th pSortableColumn="preco">Valor <p-sortIcon field="preco" /></th>
                  </tr>
                  <tr>
                    <th>
                        <p-columnFilter
                            type="text"
                            field="id"
                            placeholder="Search by Id Tratamento"
                            ariaLabel="Filter id"
                            />
                    </th>
                    <th>
                      <p-columnFilter
                          type="text"
                          field="mes"
                          placeholder="Search by mes"
                          ariaLabel="Filter mes"
                          />
                  </th>
                    <th>
                        <p-columnFilter
                            type="text"
                            field="name"
                            placeholder="Search by tratamento"
                            ariaLabel="Filter name" />
                    </th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tratamento let-ri="rowIndex">
                  <tr>
                      <td>{{tratamento.id}}</td>
                      <td>{{tratamento.mes}}</td>
                      <td>{{tratamento.name}}</td>
                      <td>{{tratamento.preco | currency}}</td>
                  </tr>
                 </ng-template>
            </p-table>
          </div>
      </div>


     </div>
  </section>
</main>

<footer>
  <app-rodape></app-rodape>
</footer>
