<main class="principal">
  <aside>
    <img src="../../../../assets/fundo-esq-bellavisage.png" alt="fundo bellavisage">
  </aside>
  <section class="principal-login">
    <img src="../../../../assets/logo-pequeno-2-bellavisage.png">
    <h1 class="principal-titulo">Fa&ccedil;a login em sua conta</h1>
    <form class="principal-formulario">

      <div class="campos">

          <app-campo-formulario-generico label="Email" type="email"
            placeholder="Insira seu endere&ccedil;o de email" mapeamentoLabel="email">
          </app-campo-formulario-generico>

          <app-campo-formulario-generico label="Senha" type="password"
            placeholder="Insira sua senha" mapeamentoLabel="senha">
          </app-campo-formulario-generico>

      </div>

      <div class="redirecionamentos">
        <app-botao-generico type="submit" nome="Entrar"></app-botao-generico>
        <a href="#">Esqueceu sua senha?</a>
        <span>Ainda não tem conta? <a href="#" style="color: #F5066C; font-weight: bold;">Fa&ccedil;a seu cadastro!</a></span>
      </div>
    </form>
  </section>
  <aside>
    <img src="../../../../assets/fundo-dir-bellavisage.png" alt="fundo bellavisage">
  </aside>
</main>
