<header>
  <app-cabecalho class="cabecalho" barraNavegacao="visualizarBarraNav"></app-cabecalho>
</header>
<main>
  <section class="sessao-principal">
    <h2 class="titulo">Gerenciar Especialistas</h2>
      <div class="button-direcionamentoCadastrar">
        <button type="submit" (click)="editarCadastro(cadastro)">Cadastrar Especialista</button>
      </div>
        <div class="campo-especialista">

          <h2 class="titulo-tabela">Listagem do Cadastro</h2>
        <div class="tabela-bord">
          <div class="table-container">
            <p-table
            #dtListagemEspecialista
            dataKey="id"
            [value]="cadastro"
            [tableStyle]="{ 'min-width': '50rem' }"
            [globalFilterFields]="[
                'name',
            ]"
            editMode="row"
          >


            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Especialidade</th>
                    <th>Registro C.C.</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
                <tr>
                  <th>
                      <p-columnFilter
                          type="text"
                          field="especialista"
                          placeholder="Search by especialista"
                          ariaLabel="Filter Especialista" />
                  </th>
                  <th>
                      <p-columnFilter
                          type="text"
                          field="email"
                          placeholder="Search by email"
                          ariaLabel="Filter email" />
                  </th>
                  <th>
                    <p-columnFilter
                        type="text"
                        field="especialidade"
                        placeholder="Search by especialidade"
                        ariaLabel="Filter especialidade" />
                  </th>
                  <th>
                    <p-columnFilter
                        type="text"
                        field="registro"
                        placeholder="Search by registro"
                        ariaLabel="Filter registro" />
                  </th>

                  <th>
                    <p-columnFilter
                        type="text"
                        field="telefone"
                        placeholder="Search by telefone"
                        ariaLabel="Filter telefone" />
                </th>

                  <th>
                    <p-columnFilter
                        type="text"
                        field="endereco"
                        placeholder="Search by endereco"
                        ariaLabel="Filter endereco" />
                  </th>
                  <th></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cadastro  let-editing="editing" let-ri="rowIndex">

                <tr>
                    <td>{{ cadastro.especialista }}</td>
                    <td>{{ cadastro.email}}</td>
                    <td>{{ cadastro.especialidade }}</td>
                    <td>{{ cadastro.registro }}</td>
                    <td>{{ cadastro.telefone}}</td>
                    <td>{{ cadastro.endereco}}</td>
                    <th>
                      <button
                        (click)="editarCadastro(cadastro)"
                      >
                        <fa-icon [icon]="faEdit"></fa-icon>
                      </button>

                      <button
                      (click)="cancelarCadastro(cadastro)"
                      >
                        <fa-icon [icon]="faTrash"></fa-icon>
                     </button>

                    </th>
                </tr>
            </ng-template>
          </p-table>
            </div>
        </div>



        </div>
  </section>
</main>

<footer>
  <app-rodape></app-rodape>
</footer>

