.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.cabecalho-nav{
  width: 70%;
}

.cabecalho-lista{
    list-style-type: none;
    display: flex;
    gap: 2em;
}

.cabecalho-lista a{
  text-decoration: none;
  color: #950341;
  font-family: 'Public Sans';
  font-weight: bold;

}

.cabecalho-lista a:hover{
  text-decoration: underline;
}

.painel-logo{
  background-color: aqua;
}

.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card {
    width: 20em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #E7EBEF;
    margin: 3em;
    padding: 2em 0;
    text-align: center;
  }


.card-conteudo a{
  text-decoration: none;
  font-family: 'Public Sans';
  color: #1b82d1;
  font-weight: bold;
}

.card-conteudo a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.rodape{
  text-align: center;
  background-color: #950341;
  margin-top: 5em;
  padding: 1em 0;
}

.rodape-lista{
  list-style-type: none;
  display: flex;
  gap:1.2em;
  justify-content: center;
  margin: 0.3em 0;
}

.rodape span{
  font-family: 'Public Sans';
  color:#E7EBEF;
  font-size: x-small;
}
