header,main{
  margin: 0 10%;
}

.card{
  background-color: #E7EBEF;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2em;
  margin: 1em 0;
  text-align: center;
}

.card-title{
  color: #339CFF;
  font-family: 'Public Sans';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  text-align: left;
}

.drop_tratamentos{
  margin-bottom: 1em;
}

label{
  color: #950341;
  font-family: 'Public Sans';
  font-weight: bold;
  padding-right: 0.5em;
}
